@font-face {
  src: url(./Lato-Regular.ttf) format('opentype');
  font-family: 'Lato';
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url(./Lato-Bold.ttf) format('opentype');
  font-family: 'Lato';
  font-weight: 700;
  font-display: swap;
}

@font-face {
  src: url(./Lato-Black.ttf) format('opentype');
  font-family: 'Lato';
  font-weight: 900;
  font-display: swap;
}
