@import '~/scss/utils/spacing.scss';
@import '~/scss/mixins/_animations.scss';

.icon {
  color: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  svg {
    display: block;
  }

  svg,
  path {
    fill: currentColor;
  }

  &.small {
    svg {
      width: toRem(16px);
      height: toRem(16px);
    }
  }

  &.regular {
    svg {
      width: toRem(24px);
      height: toRem(24px);
    }
  }

  &.large {
    svg {
      width: toRem(32px);
      height: toRem(32px);
    }
  }
}
