@import '~/scss/utils/spacing.scss';
@import '~/scss/mixins/_animations.scss';

.courses {
  .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .heading {
    }

    .link {
      margin-left: toRem(20px);
      text-decoration: none;
    }
  }

  .items {
    margin: toRem(60px) 0 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-gap: toRem(30px);
    grid-template-columns: repeat(2, 1fr);

    .item {
      display: flex;
      width: 100%;
    }
  }

  @media screen and (max-width: 580px) {
    .top {
      flex-direction: column;
      align-items: center;

      .heading {
        text-align: center;
      }

      .link {
        margin: toRem(20px) 0 0;
      }
    }

    .items {
      margin-top: toRem(30px);
      grid-template-columns: 1fr;
    }
  }
}
