@import '../utils/color';
@import '../mixins/generateColors';

$colors-light: (
  light: #ffffff,
  primary: #ff3f3a,
  primary-shade: #f75e05,
  secondary: #ffcf2d,
  success: #03cea4,
  danger: #ff4242,
  warning: #f89828,
  info: #5a87fc,
  alert: #f52f6e,
  body: #ffffff,
  gray-900: #1e212c,
  gray-800: #424551,
  gray-700: #787a80,
  gray-600: #9a9ca5,
  gray-500: #b3b7bc,
  gray-400: #d7dadd,
  gray-300: #e5e8ed,
  gray-200: #f4f5f7,
  gray-100: #f9f9f9,
);

$colors-dark: (
  light: #1e212c,
  primary: #ff3f3a,
  primary-shade: #f75e05,
  secondary: #ffcf2d,
  success: #03cea4,
  danger: #ff4242,
  warning: #f89828,
  info: #5a87fc,
  alert: #f52f6e,
  body: #1e212c,
  gray-900: #f9f9f9,
  gray-800: #f4f5f7,
  gray-700: #e5e8ed,
  gray-600: #d7dadd,
  gray-500: #b3b7bc,
  gray-400: #9a9ca5,
  gray-300: #787a80,
  gray-200: #424551,
  gray-100: #1e212c,
);

:root {
  @include generateColors($colors-light);

  --gradient-primary: #{getLinearGradient(
      var(--color-primary-rgb),
      var(--color-primary-shade-rgb)
    )};

  --focus-shadow-primary: 0px 80px 80px -20px rgba(var(--color-primary-rgb), 0.08),
    0px 30px 24px -10px rgba(var(--color-primary-rgb), 0.05),
    0px 12px 10px -6px rgba(var(--color-primary-rgb), 0.04),
    0px 4px 4px -4px rgba(var(--color-gray-900-rgb), 0.031);

  --card-shadow-grey: 0px 80px 80px -20px rgba(var(--color-gray-600-rgb), 0.08),
    0px 30px 24px -10px rgba(var(--color-gray-600-rgb), 0.05),
    0px 12px 10px -6px rgba(var(--color-gray-600-rgb), 0.04),
    0px 4px 4px -4px rgba(var(--color-gray-900-rgb), 0.03);

  --card-shadow-grey-hover: 0px 80px 80px -20px rgba(var(--color-gray-600-rgb), 0.16),
    0px 30px 24px -10px rgba(var(--color-gray-600-rgb), 0.1),
    0px 12px 10px -6px rgba(var(--color-gray-600-rgb), 0.08),
    0px 4px 4px -4px rgba(var(--color-gray-900-rgb), 0.05);

  --card-shadow-primary: 0px 80px 80px -20px rgba(var(--color-primary-rgb), 0),
    0px 30px 24px -10px rgba(var(--color-primary-rgb), 0),
    0px 12px 10px -6px rgba(var(--color-primary-rgb), 0),
    0px 4px 4px -4px rgba(var(--color-gray-900-rgb), 0);

  --card-shadow-primary-hover: 0px 80px 80px -20px rgba(var(--color-primary-rgb), 0.16),
    0px 30px 24px -10px rgba(var(--color-primary-rgb), 0.1),
    0px 12px 10px -6px rgba(var(--color-primary-rgb), 0.08),
    0px 4px 4px -4px rgba(var(--color-gray-900-rgb), 0.05);
}

// [data-theme="dark"] {
//   @include generateColors($colors-dark);
// }

.dark-mode {
  @include generateColors($colors-dark);
}
