@import '~/scss/utils/_spacing.scss';
@import '~/scss/mixins/_animations.scss';
@import '~/scss/mixins/_srOnly.scss';

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: grid;
  grid-gap: toRem(20px);
  grid-template-columns: repeat(auto-fit, toRem(24px));

  &.small {
    grid-gap: toRem(12px);
    grid-template-columns: repeat(auto-fit, toRem(16px));
  }

  &.medium {
    grid-gap: toRem(12px);
    grid-template-columns: repeat(auto-fit, toRem(20px));
  }

  &.large {
    grid-template-columns: repeat(auto-fit, toRem(32px));
  }

  .item {
    .link {
      color: inherit;
      display: flex;

      @include animation-motion($duration-very-fast, 'ease-in-out', 'basic');

      &:hover {
        color: var(--color-primary);
      }
    }
  }

  .sr-only {
    @include srOnly();
  }
}
