@import '~/scss/utils/spacing';

.faq {
  .list {
    .item {
      margin-bottom: toRem(24px);

      &:last-of-type {
        margin-bottom: 0;
      }

      .title {
        margin: 0;
        font: inherit;
        font-weight: bold;
        line-height: inherit;
      }

      .prefix {
        font-weight: normal;
        color: var(--color-primary);
        margin-right: toRem(8px);
      }

      .text {
        margin: 0;
        color: var(--color-gray-800);
      }
    }
  }
}
