@import '~/scss/utils/spacing.scss';
@import '~/scss/mixins/_srOnly.scss';
@import '~/scss/mixins/_animations.scss';

.picker {
  $icon-width: 16px;

  --icons-gap: 10px;

  display: flex;
  align-items: center;
  font: inherit;

  .fieldset {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    gap: var(--icons-gap);
  }

  .label {
    cursor: pointer;
    color: inherit;

    @include animation-motion($duration-very-fast, 'ease-in-out', 'basic');

    &.selected {
      color: var(--color-light);
    }

    &:hover {
      opacity: 0.6;
    }

    .radio {
      margin: 0;
      appearance: none;

      &:not([disabled]):focus-visible ~ .icon {
        outline: 2px solid red;
        outline-offset: toRem(5px);
        border-radius: 50%;
      }
    }

    .icon {
      display: block;
      width: toRem($icon-width);
      height: toRem($icon-width);
    }
  }

  .sr-only {
    @include srOnly();
  }

  .glider {
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 50%;
    background-color: currentColor;
    z-index: -1;
    width: toRem($icon-width);
    height: toRem($icon-width);
    transform: translate(var(--theme-glider-position), -50%) scale(1.3);

    @include animation-motion($duration-very-fast, 'ease-in-out', 'basic');
  }
}
