@import '~/scss/utils/_spacing.scss';

.section {
  position: relative;

  &.title {
    padding: toRem(192px) 0 toRem(120px);
  }

  &.agenda {
    padding: toRem(120px) 0 toRem(60px);
  }

  &.curator {
    padding: toRem(60px) 0 toRem(90px);
  }

  &.audience {
    padding: toRem(90px) 0;
  }

  &.subscribe {
    padding: toRem(60px) 0;
  }

  &.request {
    padding: toRem(120px) 0;
  }

  &.events {
    padding: toRem(100px) 0 toRem(180px);

    .footer {
      margin: toRem(80px) 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: toRem(40px);

      .text {
        margin: 0;
        font-weight: bold;
        font-size: toRem(28px);
        line-height: 150%;
        color: var(--color-gray-900);
      }
    }
  }

  @media screen and (max-width: 580px) {
    &.events {
      .footer {
        margin: toRem(40px) 0 0;
        flex-direction: column;
        gap: toRem(20px);

        .text {
          font-size: toRem(26px);
          font-weight: 900;
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    &.agenda,
    &.curator,
    &.audience,
    &.subscribe,
    &.request,
    &.events {
      padding: toRem(60px) 0;
    }
  }
}
