@import '~/scss/utils/_spacing.scss';

.section {
  position: relative;

  &.title {
    padding: toRem(192px) 0 toRem(120px);
  }

  &.agenda {
    padding: toRem(120px) 0 toRem(60px);
  }

  &.curator {
    padding: toRem(60px) 0 toRem(90px);
  }

  &.audience {
    padding: toRem(90px) 0;
  }

  &.subscribe {
    padding: toRem(60px) 0;
  }

  @media screen and (max-width: 480px) {
    &.agenda,
    &.curator,
    &.audience,
    &.subscribe {
      padding: toRem(60px) 0;
    }
  }
}
