@import '~/scss/utils/spacing.scss';
@import '~/scss/mixins/_animations.scss';

.group {
  display: flex;
  align-items: center;

  .label {
    display: flex;
    align-items: center;
    position: relative;

    .radio {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
      visibility: visible;
      white-space: nowrap;
    }

    .button {
    }
  }
}
