@import '~/scss/utils/_spacing.scss';

.menu {
  font-size: toRem(16px);
  font-weight: 700;

  .items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    .item {
      margin-right: toRem(40px);

      .link {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
