@import '~/scss/utils/_spacing.scss';
@import '~/scss/config.scss';

.carousel {
  .header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .controls {
      display: flex;
      margin-left: toRem(40px);

      .button {
        &.prev,
        &.next {
          opacity: 1;
        }
      }
    }
  }

  .swiper {
    width: 100%;
    overflow: hidden;
    margin: toRem(60px) 0 0;

    .list {
      margin: 0;
      padding: 0;
      list-style: none;

      .item {
        > div,
        > a {
          box-shadow: none;
        }
      }
    }
  }

  .footer {
    margin: toRem(80px) 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: toRem(40px);

    .text {
      margin: 0;
      font-weight: bold;
      font-size: toRem(28px);
      line-height: 150%;
      color: var(--color-gray-900);
    }
  }

  @media screen and (max-width: 1024px) {
    .footer {
      margin: toRem(40px) 0 0;
      flex-direction: column;
      gap: toRem(20px);

      .text {
        font-size: toRem(26px);
        font-weight: 900;
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .header {
      flex-direction: column;
      align-items: center;
      text-align: center;

      .controls {
        margin: toRem(20px) 0 0;
      }
    }
  }

  // Specific card's component styles

  &.team {
    @media screen and (max-width: 450px) {
      .swiper {
        margin: toRem(30px) -#{$gutter-width-regular} 0;
        width: calc(100% + 2 * #{$gutter-width-regular});
      }
    }
  }

  &.event,
  &.course,
  &.blog {
    @media screen and (max-width: 680px) {
      .swiper {
        margin: toRem(30px) -#{$gutter-width-regular} 0;
        width: calc(100% + 2 * #{$gutter-width-regular});
      }
    }
  }

  &.event,
  &.blog {
    .swiper {
      .list {
        .item {
          max-width: toRem(475px);
        }
      }
    }

    @media screen and (max-width: 680px) {
      .swiper {
        .list {
          .item {
            max-width: toRem(390px);
          }
        }
      }
    }

    @media screen and (max-width: 475px) {
      .swiper {
        .list {
          .item {
            max-width: toRem(320px);
          }
        }
      }
    }
  }

  &.course {
    .swiper {
      .list {
        .item {
          max-width: toRem(600px);
        }
      }
    }

    @media screen and (max-width: 680px) {
      .swiper {
        .list {
          .item {
            max-width: toRem(300px);
          }
        }
      }
    }
  }
}
