@import '~/scss/utils/_spacing.scss';
@import '~/scss/config.scss';

.carousel {
  .header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .controls {
      display: flex;
      margin-left: toRem(40px);

      .button {
        &.prev,
        &.next {
          opacity: 1;
        }
      }
    }
  }

  .swiper {
    margin: toRem(60px) 0 0;

    .list {
      margin: 0;
      padding: 0;
      list-style: none;

      .item {
        > div {
          box-shadow: none;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .header {
      flex-direction: column;
      align-items: center;
      text-align: center;

      .controls {
        margin: toRem(20px) 0 0;
      }
    }
  }

  // Specific card's component styles

  &.team {
    @media screen and (max-width: 450px) {
      .swiper {
        margin: toRem(30px) -#{$gutter-width-regular} 0;
        width: calc(100% + 2 * #{$gutter-width-regular});
      }
    }
  }

  &.event {
    .swiper {
      .list {
        .item {
          max-width: toRem(475px);
        }
      }
    }

    @media screen and (max-width: 680px) {
      .swiper {
        margin: toRem(30px) -#{$gutter-width-regular} 0;
        width: calc(100% + 2 * #{$gutter-width-regular});

        .list {
          .item {
            max-width: toRem(390px);
          }
        }
      }
    }

    @media screen and (max-width: 475px) {
      .swiper {
        .list {
          .item {
            max-width: toRem(320px);
          }
        }
      }
    }
  }
}
