@import '~/scss/utils/_spacing.scss';
@import '~/scss/mixins/_animations.scss';

.menu {
  @include animation-motion($duration-very-fast, 'ease-in-out', 'basic');

  .items {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    min-width: toRem(250px);
    display: flex;
    flex-direction: column;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      backdrop-filter: saturate(180%) blur(20px);
      background-color: rgba(var(--color-light-rgb), 0.72);
    }

    // Hide scrollbar
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .item {
      display: flex;
      flex-direction: column;

      &:last-of-type {
        margin-bottom: toRem(40px);
      }

      &.bottom {
        margin-top: auto;
      }

      .link,
      .theme,
      .account {
        padding: toRem(20px) toRem(32px);
      }

      .link {
        display: block;
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        border-left: 2px solid transparent;

        @include animation-motion($duration-very-fast, 'ease-in-out', 'basic');

        &:global(.nuxt-link-exact-active) {
          border-color: var(--color-primary);
        }

        &:hover {
          color: var(--color-light);
          background-color: var(--color-primary);
        }
      }

      .button,
      .account {
        margin: 0 auto;
      }
    }
  }
}
