@import '~/scss/utils/_spacing.scss';
@import '~/scss/mixins/_animations.scss';

.footer {
  background-color: var(--color-gray-900);
  color: var(--color-gray-500);

  .half {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &.top {
      padding: toRem(80px) 0 toRem(60px);

      .grid {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .description {
          grid-area: description;
          max-width: toRem(280px);

          .text {
            margin: toRem(24px) 0 0;
            font-weight: normal;
            font-size: toRem(12px);
            line-height: 150%;
          }

          .social {
            margin-top: toRem(38px);
          }
        }

        .map {
          grid-area: map;
        }

        .courses {
          grid-area: courses;
        }

        .contacts {
          grid-area: contacts;
        }

        .subscription {
          grid-area: subscription;
          max-width: toRem(286px);

          .footnote {
            margin: toRem(12px) 0 0;
            font-size: toRem(10px);
            color: var(--color-light);
          }
        }

        .title {
          margin: 0 0 toRem(12px);
          color: var(--color-light);
          font-style: normal;
          font-weight: bold;
          font-size: inherit;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
      }
    }

    &.bottom {
      position: relative;
      padding: toRem(20px) 0;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background-color: var(--color-light);
        opacity: 0.05;
      }

      .container {
        position: relative;
        display: flex;
        justify-content: space-between;

        .copyright {
          font-size: toRem(12px);
          font-weight: inherit;
          font-style: inherit;
          color: var(--color-light);

          .heart {
            color: var(--color-primary);
            margin: 0 toRem(2px);
            position: relative;
            top: toRem(3px);
          }
        }

        .top {
          margin: 0;
          padding: 0;
          border: none;
          outline: none;
          cursor: pointer;
          background-color: transparent;
          text-transform: uppercase;
          font-weight: 700;
          font-size: toRem(14px);
          color: inherit;

          @include animation-motion(
            $duration-very-fast,
            'ease-in-out',
            'basic'
          );

          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1280px) {
    .half {
      &.top {
        .grid {
          display: grid;
          grid-gap: toRem(38px);
          grid-template-columns: repeat(3, 1fr);
          grid-template-areas:
            'description empty subscription'
            'map courses contacts';

          .description,
          .subscription {
            max-width: unset;
          }
        }
      }
    }
  }

  @media screen and (max-width: 960px) {
    .half {
      &.top {
        .grid {
          grid-template-columns: repeat(2, 1fr);
          grid-template-areas:
            'description description'
            'subscription subscription'
            'map courses'
            'contacts contacts';
        }
      }
    }
  }

  @media screen and (max-width: 450px) {
    .half {
      &.bottom {
        .container {
          flex-direction: column;
          align-items: flex-start;

          .top {
            margin-top: toRem(36px);
            margin-left: auto;
          }
        }
      }
    }
  }
}
