.layout {
  position: relative;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  .header {
    position: sticky;
    top: 0;
    left: 0;
  }

  .footer {
    margin-top: auto;
  }
}
