@import '~/scss/utils/_spacing.scss';

.section {
  position: relative;

  &.usp {
    padding: toRem(200px) 0 toRem(80px);

    @media screen and (max-width: 768px) {
      padding: toRem(100px) 0 toRem(60px);
    }
  }

  &.about {
    padding: toRem(180px) 0 toRem(60px);

    @media screen and (max-width: 768px) {
      padding: toRem(60px) 0;
    }
  }

  &.courses {
    padding: toRem(60px) 0;
  }

  &.benefits {
    padding: toRem(60px) 0 toRem(120px);
  }

  &.events {
    padding: toRem(80px) 0;
  }

  &.certificate {
    position: relative;
    z-index: 2;
    padding: toRem(120px) 0 0;

    @media screen and (max-width: 1024px) {
      padding: toRem(80px) 0;
    }
  }

  &.team {
    position: relative;
    z-index: 1;
    margin-top: toRem(-50px);
    padding: toRem(166px) 0 toRem(90px);
    overflow: hidden;

    li {
      max-width: toRem(320px);
    }

    @media screen and (max-width: 1024px) {
      margin: 0;
      padding: toRem(80px) 0 toRem(40px);
    }
  }

  &.testimonials {
    padding: toRem(90px) 0 toRem(100px);
    overflow: hidden;

    @media screen and (max-width: 1024px) {
      padding: toRem(40px) 0;
    }
  }

  &.posts {
    padding: toRem(120px) 0 toRem(180px);

    @media screen and (max-width: 1024px) {
      padding: toRem(80px) 0;
    }
  }

  &.subscribe {
    padding: toRem(120px) 0 toRem(180px);

    @media screen and (max-width: 1024px) {
      padding: toRem(80px) 0;
    }
  }

  .image {
    position: absolute;
    z-index: 0;
    object-fit: contain;

    &.forms {
      transform: translateY(-50%);

      &.dots {
        top: 40%;
        left: 0;
      }

      &.circles {
        top: 60%;
        right: 0;
        transform: translateY(-50%);
      }
    }
  }
}
