@import '~/scss/utils/_spacing.scss';

.section {
  &.usp {
    padding: toRem(200px) 0 toRem(80px);
    min-height: 100vh;

    .container {
      height: 100%;

      .content {
        height: 100%;
      }
    }

    @media screen and (max-width: 768px) {
      padding: toRem(100px) 0 toRem(60px);
    }
  }
}
