@import '~/scss/utils/_spacing.scss';

.section {
  position: relative;

  &.courses {
    min-height: 100vh;
    padding: toRem(152px) 0 toRem(120px);
  }

  &.testimonials {
    padding: toRem(80px) 0 toRem(100px);
    overflow: hidden;
  }

  &.certificate {
    padding: toRem(120px) 0;

    @media screen and (max-width: 1024px) {
      padding: toRem(80px) 0;
    }
  }

  &.subscribe {
    padding: toRem(120px) 0 toRem(180px);

    @media screen and (max-width: 1024px) {
      padding: toRem(80px) 0;
    }
  }

  .image {
    position: absolute;
    z-index: 0;
    object-fit: contain;

    &.courses {
      transform: translateY(-50%);

      &.dots {
        top: 25vh;
        right: 0;
      }

      &.circles {
        top: 80vh;
        left: 3%;
      }

      &.arrows {
        top: 120vh;
        right: 5%;
      }
    }
  }

  @media screen and (max-width: 450px) {
    .image {
      &.courses {
        display: none;
      }
    }
  }
}
