@import '~/scss/utils/_spacing.scss';
@import '~/scss/mixins/_animations.scss';

.list {
  .items {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: grid;
    grid-gap: toRem(20px);
    grid-template-columns: repeat(auto-fit, toRem(24px));

    .item {
      .link {
        color: inherit;

        @include animation-motion($duration-very-fast, 'ease-in-out', 'basic');

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}
