@import '~/scss/utils/spacing.scss';
@import '~/scss/mixins/_animations.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  outline: none;
  border: none;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  background-color: transparent;

  @include animation-motion($duration-very-fast, 'ease-in-out', 'basic');

  &:not([disabled]):hover {
    opacity: 0.7;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
