.background {
  position: relative;
  display: flex;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-image: var(--gradient-primary);
    opacity: 0.2;
  }

  .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
