@import '~/scss/utils/_spacing.scss';
@import '~/scss/mixins/_animations.scss';

.switcher {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: toRem(16px);

  .locale {
    .button {
      @include animation-motion($duration-very-fast, 'ease-in-out', 'basic');

      &:hover {
        opacity: 0.6;
      }

      &.active {
        color: var(--color-light);
        text-decoration: underline;
      }
    }
  }
}
